<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAg53CA/8KbEyxrGahYPcrWQAAAAACAAAAAAAQZgAAAAEAACAAAAC0TaHqGny0P7WhPjmHbreBCgD9KeakryhiRzhscVyhaQAAAAAOgAAAAAIAACAAAACO/UdUYu6dKLXFv1XcOsv8wC0pvKbCGamZtIfuqC+OfjAAAAA9Hdk+FgBeDZCLxj5idK3JOY1eGBrBjiYKMKZH8YH8DAH/Y0aeewrbv3OohuxpVfpAAAAAAWUtfV834EjPqxsBvB6JR/5ozxX28FXHIJBU8DVIzdBFjN7h1jNXpNdd0Pbcl0K9YLwnnax1UtOyNNsYfCnhVQ==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAg53CA/8KbEyxrGahYPcrWQAAAAACAAAAAAAQZgAAAAEAACAAAAD+h1BkcamkssnUlMHzLtGnLjKg/1q2I0gbs+R3H+kS5wAAAAAOgAAAAAIAACAAAAC8txxAD+sLiIWKyO1f2y+Go4MTOYQ94dEl7qGX6qlN/zAAAACWfYKD/deqz1atKLZM7xGaX9eBgeOLeTbDfZPC4GdN29MaazElRgbXalsdTefX60lAAAAAFOLO8itaCOlYDYhgjlR3SqJVTziRKQfoeTOcwgy8C2GzH30xLhetBXBmB/2ts9zVkpmm1FKSKwhJbFzV/7RsHA==" />
  </apikeys>
</configuration>