<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionUri" value="amqp://guest:guest@localhost/" />
		<add key="NonexistentUri" value="amqp://doest-exist/" />
		<add key="AuthenticationFailureUri" value="amqp://baduser:badpass@localhost/" />
	</appSettings>
</configuration>